@use 'fonts';
@use 'variables' as v;

* {
  box-sizing: border-box;
}

body {
  font-family: v.$font-family-base;
  font-weight: v.$font-weight-regular;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

figure,
blockquote {
  margin: 0;
}

hr {
  margin: 0;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  position: relative;
  width: 100%;
  aspect-ratio: 2/1;
  height: auto;
  margin-bottom: clamp(25px, 3vw, 65px);

  @media (max-width: 830px) {
    aspect-ratio: 4/3;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}
