@use 'fonts';
@use 'variables' as v;

* {
  box-sizing: border-box;
}

body {
  font-family: v.$font-family-base;
  font-weight: v.$font-weight-regular;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

figure,
blockquote {
  margin: 0;
}

hr {
  margin: 0;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 8;
  height: auto;
  margin-bottom: clamp(25px, 3vw, 65px);
  background-color: aquamarine;
  @media (max-width: 830px) {
    aspect-ratio: 8 / 6;
  }
}

.final-section {
  width: 100%;
  min-height: 100vh;
  background-color: aquamarine;
}

.title {
  font-weight: v.$font-weight-extrabold;
  color: v.$black-color;
  font-size: clamp(2.5rem, 8vw, 4.5rem);
}

.subtitle {
  font-weight: v.$font-weight-medium;
  color: v.$black-color;
  font-size: clamp(18px, 3.5vw, 70px);
  line-height: 1.2;
}

.hidden {
  display: none;
}
