@use 'variables' as v;

.example {
  .container {
    padding: 0;
    height: 100%;
    width: 100%;
  }
  &__content {
    container-type: inline-size;
    container-name: example-content;
    display: flex;
    width: 100%;
    height: 100%;
  }
  @container example-content (max-width: 850px) {
    .example__left {
      flex: 2.3;
      margin-right: 0.5rem;
      .name {
        max-width: 100%;
        bottom: 4%;
        left: 30%;
        font-size: 1.1rem;
        letter-spacing: 1px;
      }
    }
    .example__right {
      flex: 4;
    }
  }

  &__left {
    position: relative;
    flex: 3;
    margin-right: 1rem;
    .name {
      max-width: 100%;
      position: absolute;
      bottom: 4%;
      left: 9%;
      color: v.$white-color;
      font-weight: v.$font-weight-semibold;
      font-size: 2.5rem;
      letter-spacing: 1px;
      text-overflow: clip;
      overflow: hidden;
    }
  }
  &__right {
    flex: 4;
  }
  &__img {
    width: 100%;
    height: 100%;
    display: block;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}
