@use 'variables' as v;

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    padding: 0;
    height: 100%;
    width: 100%;
  }
  &__content {
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}
