@use 'variables' as v;

.features {
  container-type: inline-size;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    padding: 0;
    height: 100%;
    width: 100%;
  }
  &__content {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  &__link {
    position: absolute;
    top: 27%;
    right: 2.5%;
    width: 26vw;
    height: 26vw;
    z-index: 5;
    cursor: pointer;
    text-decoration: none;
    border-radius: 50%;

    &:hover {
      &::before {
        opacity: 1;
      }
    }

    &::before {
      content: '';
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: v.$light-shadow-color;
      opacity: 0;
      transition: opacity 0.3s ease;
      pointer-events: none;
    }
  }
  @container (max-width: 830px) {
    &__link {
      top: 43%;
      right: 2.5%;
      width: 35vw;
      height: 35vw;
    }
  }
}
