@font-face {
  font-family: 'Gilroy';
  src:
    local('Gilroy Regular'),
    local('Gilroy-Regular'),
    url('../fonts/gilroy-regular.woff2') format('woff2'),
    url('../fonts/gilroy-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src:
    local('Gilroy Medium'),
    local('Gilroy-Medium'),
    url('../fonts/gilroy-medium.woff2') format('woff2'),
    url('../fonts/gilroy-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src:
    local('Gilroy SemiBold'),
    local('Gilroy-SemiBold'),
    url('../fonts/gilroy-semiBold.woff2') format('woff2'),
    url('../fonts/gilroy-semiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src:
    local('Gilroy Bold'),
    local('Gilroy-Bold'),
    url('../fonts/gilroy-bold.woff2') format('woff2'),
    url('../fonts/gilroy-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src:
    local('Gilroy Extra-bold'),
    local('Gilroy-Extra-bold'),
    url('../fonts/gilroy-extraBold.woff2') format('woff2'),
    url('../fonts/gilroy-extraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
