@use 'variables' as v;

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background:
    url('/src/assets/images/watermark.png'),
    linear-gradient(to top, v.$overlay-color, transparent 60%), url('/src/assets/images/bg1.webp');

  background-size:
    clamp(564px, 40vw, 1063px) auto,
    contain,
    cover;

  background-position:
    right clamp(-150px, -5vw, -50px) bottom clamp(-300px, -25vh, -500px),
    center,
    left top;

  background-repeat: no-repeat, no-repeat, no-repeat;
  container-type: inline-size;

  &__title {
    font-weight: v.$font-weight-extrabold;
    color: v.$black-color;
    font-size: clamp(2.5rem, 8vw, 4.5rem);
  }
  &__subtitle {
    font-weight: v.$font-weight-medium;
    color: v.$black-color;
    font-size: clamp(18px, 3.5vw, 70px);
    line-height: 1.2;
    margin-bottom: clamp(9vh, 16vh, 20vh);
  }
  &__content {
    padding: clamp(10vw, 4vw, 12vw) clamp(1vw, 3vw, 5vw) clamp(5vw, 7vw, 10vw) clamp(1vw, 3vw, 5vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__text {
    max-width: 95%;
    display: flex;
    flex-direction: column;
    gap: 0;
    text-align: center;
    margin-bottom: 120px;
    text-overflow: clip;
    overflow: hidden;
    .onkron-icon {
      width: clamp(300px, 65vw, 1100px);
      aspect-ratio: 8 / 1;
      color: v.$black-color;
      object-fit: contain;
    }
  }
  &__icons {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(7rem, 7vw, 30rem);
    width: 100%;
    justify-content: center;

    .icon-card {
      margin-top: -120px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: clamp(0rem, 0vw, 3rem);
      text-align: center;
      color: v.$white-color;
      transition: color 0.3s ease;
      .icon-wrapper {
        width: clamp(120px, 10vw, 200px);
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: 0 auto;
      }
      &__icon {
        width: 100%;
        height: 100%;
        color: currentColor;
        aspect-ratio: 2/1;
        object-fit: contain;
      }
      .manipulator-icon {
        transform: translateX(20%);
      }
      &__text {
        min-width: 0;
        max-width: 60vw;
        justify-self: start;
        font-weight: v.$font-weight-semibold;
        font-size: clamp(15px, 1vw, 31px);
        font-weight: 500;
        line-height: 1.4;
        color: currentColor;
        text-overflow: clip;
        overflow: hidden;
      }

      &:visited {
        color: v.$black-color;
      }
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: v.$black-color;
        }
      }
    }
  }
  @container (max-width: 1230px) {
    .icon-card {
      &:nth-child(1) {
        order: 1;
      } // factory
      &:nth-child(2) {
        order: 5;
        transform: translateX(-10%);
      } // globe
      &:nth-child(3) {
        order: 6;
        transform: translateX(10%);
      } // 3M
      &:nth-child(4) {
        order: 2;
      } // manipulator
      &:nth-child(5) {
        order: 3;
      } // star
    }
  }
  @container (max-width: 850px) {
    &__subtitle {
      margin-bottom: clamp(10vh, 10vh, 20vh);
    }
    &__text {
      margin-bottom: 100px;
    }
  }
  @container (max-width: 745px) {
    .icon-card {
      margin-top: -90px;
      &:nth-child(2) {
        transform: translateX(0%);
      } // globe
      &:nth-child(3) {
        transform: translateX(0%);
      } // 3M
      .icon-wrapper {
        width: clamp(50px, 5vw, 200px);
      }
    }
    &__text {
      margin-bottom: 60px;
    }
  }
}
