@use 'variables' as v;

.montage {
  position: relative;
  .container {
    padding: 0;
    height: 100%;
    width: 100%;
    container-type: inline-size;
    container-name: montage-container;
  }
  &__content {
    display: grid;
    grid-template-areas:
      'one two three'
      'one two three';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background:
        linear-gradient(to bottom, v.$overlay-color, transparent 60%),
        linear-gradient(to top, v.$overlay-color, transparent 60%);
      pointer-events: none;
      z-index: 1;
    }
  }
  &__title {
    width: 100%;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    color: v.$white-color;
    text-align: center;
    z-index: 10;
    font-weight: v.$font-weight-bold;
    font-size: clamp(5rem, 1vw, 11rem);
    letter-spacing: 1px;
  }
  &__one {
    position: relative;
    grid-area: one;
  }
  &__two {
    position: relative;
    grid-area: two;
  }
  &__three {
    position: relative;
    grid-area: three;
  }
  .text {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    color: v.$white-color;
    text-align: center;
    z-index: 10;
    .img-title {
      font-weight: v.$font-weight-bold;
      font-size: clamp(1.5rem, 1vw, 4.5rem);
      letter-spacing: 1px;
    }
    .img-subtitle {
      font-weight: v.$font-weight-bold;
      font-size: (0.5rem, 0.5vw, 2rem);
      letter-spacing: 1px;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    display: block;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  @container montage-container (max-width: 1024px) {
    .montage__content {
      gap: 0.8rem;
      grid-template-areas:
        'one three'
        'two three';
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
    }

    .montage__title {
      top: 2%;
      font-size: clamp(4rem, 8cqi, 8rem);
    }

    .montage .text {
      bottom: 3%;

      .img-title {
        font-size: clamp(1.2rem, 3cqi, 3rem);
      }

      .img-subtitle {
        font-size: clamp(0.7rem, 1.5cqi, 1.5rem);
      }
    }
  }
}
