@use 'variables' as v;

.montage {
  container-type: inline-size;
  .container {
    padding: 0;
    height: 100%;
    width: 100%;
  }
  &__content {
    display: grid;
    grid-template-areas: 'one two three';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    height: 100%;
    background:
      linear-gradient(to bottom, v.$overlay-color, transparent 30%),
      linear-gradient(to top, v.$overlay-color, transparent 30%);
  }
  &__title {
    max-width: 95vw;
    width: 100%;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    color: v.$white-color;
    text-align: center;
    z-index: 10;
    font-weight: v.$font-weight-bold;
    font-size: clamp(5rem, 7vw, 100rem);
    letter-spacing: 1px;
    text-overflow: clip;
    overflow: hidden;
  }
  &__one,
  &__two,
  &__three {
    position: relative;
    min-height: 0;
    overflow: hidden;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      z-index: 1;
    }
  }

  &__one {
    grid-area: one;
  }
  &__two {
    grid-area: two;
  }
  &__three {
    grid-area: three;
  }
  .text {
    max-width: 45vw;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    color: v.$white-color;
    text-align: center;
    z-index: 10;
    text-overflow: clip;
    overflow: hidden;
    .img-title {
      font-weight: v.$font-weight-bold;
      font-size: clamp(1.5rem, 3vw, 6rem);
      letter-spacing: 1px;
    }
    .img-subtitle {
      font-weight: v.$font-weight-bold;
      font-size: clamp(0.5rem, 1.5vw, 4rem);
      letter-spacing: 1px;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    display: block;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  @container (max-width: 1024px) {
    &__content {
      gap: 0.8rem;
      grid-template-areas:
        'one three'
        'two three';
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      background: linear-gradient(to top, v.$overlay-color, transparent 30%);
    }

    &__title {
      letter-spacing: 2px;
      position: absolute;
      top: auto;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      font-size: clamp(2rem, 9vw, 8rem);
    }

    &__one,
    &__two,
    &__three {
      background: linear-gradient(to bottom, v.$overlay-color, transparent 30%);
    }

    &__one .text,
    &__two .text {
      text-align: start;
      left: 6%;
      bottom: auto;
      top: 6%;
      transform: translateX(0%);

      .img-title {
        font-size: clamp(0.5rem, 4vw, 10rem);
      }

      .img-subtitle {
        display: none;
      }
    }
    &__three .text {
      text-align: start;
      left: 6%;
      bottom: auto;
      top: 3%;
      transform: translateX(0%);

      .img-title {
        font-size: clamp(0.5rem, 4vw, 10rem);
      }

      .img-subtitle {
        display: none;
      }
    }
  }
}
