$font-family-base:
  'Gilroy',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen-Sans,
  Ubuntu,
  Cantarell,
  'Helvetica Neue',
  sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

$black-color: #000000;
$white-color: #ffffff;
$overlay-color: rgba(1, 1, 1, 0.6);
